*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
--Dark-cyan: hsl(185, 75%, 39%);
--Very-desaturated-blue: hsl(229, 23%, 23%);
--Dark-grayish-blue: hsl(227, 10%, 46%);
--Dark-gray: hsl(0, 0%, 59%);
}

html{
    max-width: 140rem;
    font-size: 10px;
    height: 100vh;
}
body{
    width: 100%;
    height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    background-size: 100%;
    background: url('./images/bg-pattern-top.svg') top -500px left -200px no-repeat, url('./images/bg-pattern-bottom.svg') bottom -500px right -600px no-repeat, var(--Dark-cyan);
}
.profile__card{
    background: #fff;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile__top__wrapper{
    position: relative;
}
.top-patttern{
    width: 100%;
}
.top-patttern img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 30px 30px  0 0;
}
.user__img{
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.user__img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #fff;  
}
.user__desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    font-family: 'Kumbh Sans', sans-serif;
}
h3{
    display: block;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Kumbh Sans', sans-serif;

}
.age{
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--Dark-gray);
    font-weight: 400;
    padding-left: 0.3rem;
}
.user__desc p{
    font-weight: 400;
    color: var(--Dark-gray);
    font-size: 1.5rem;
    padding-top: 1rem;
}
.user__achievements{
    display: flex;
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-bottom: 2rem;
}
.profile__bottom__wrapper::before{
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background: var(--Dark-gray);
    opacity: 20%;
    margin-top: 2rem;
}
.user__achievements-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
small{
    color: var(--Dark-gray);
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 0.3rem;
}

.attribution{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 1rem;
    text-align: center;
}
a{
    color: #fff;
}